<%- include("partials/header.ejs") %>

<section id="portfolio" class="page-section">
    <div class="container py-5">
      <div class="text-center">
        <h2 class="fw-bold">My Portfolio</h2>
        <p class="text-muted">Some of my recent works</p>
      </div>
      <div class="row g-4">
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="./law-firm.jpg" alt="Portfolio 1" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Nyanga Law Firm</h5>
              <p class="card-text">Best Law Firm In Kisumu</p>
              <a href="https://nyangalaw.org/" class="btn btn-outline-info" target="_blank">View Project</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="./school.jpg" alt="Portfolio 2" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Thurdibuoro School</h5>
              <p class="card-text">Top School</p>
              <a href="https://thurdibuoroschool.com/" class="btn btn-outline-info" target="_blank">View Project</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="./hospital.jpg" alt="Portfolio 3" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Hospital</h5>
              <p class="card-text">Imara Medical Center</p>
              <a href="https://imaramed.org/" class="btn btn-outline-info" target="_blank">View Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>